<div class="wrapper">
    <div class="aside maxheight">
        <div class="box maxheight">
            <div class="inner">
                <h3 id="reservationText">${data.reservationText}</h3>
                <form action="" id="reservation-form">
                    <fieldset>
                        <div class="field"><label id="dateInText">${data.dateInText}</label><select class="select1"><option id="dateIn">${data.dateIn}</option></select><select class="select2"><option id="dateInMonth">${data.dateInMonth}</option></select></div>
                        <div class="field"><label id="dateOutText">${data.dateOutText}</label><select class="select1"><option id="dateOut">${data.dateOut}</option></select><select class="select2"><option id="dateOutMonth">${data.dateOutMonth}</option></select></div>
                        <div class="button"><span><span><a onclick="findRoom()" id="findOptions">${data.findOptions}</a></span></span></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="indent">
            <h2 id="greeting">${data.greeting}</h2>
            <img class="img-indent png" alt="" src="../../../images/1page-img1.png" />
            <p class="alt-top" id="greetingText">${data.greetingText}</p>
            <div class="clear"></div>
            <div class="line-hor"></div>
            <div class="wrapper line-ver">
                <div class="col-1">
                    <h3 id="offers">${data.offers}</h3>
                    <ul>
                        <li id="firstOffersText">${data.firstOffersText}</li>
                        <li id="secondOffersText">${data.secondOffersText}</li>
                        <li id="thirdOffersText">${data.thirdOffersText}</li>
                        <li id="fourthOffersText">${data.fourthOffersText}</li>
                        <li id="fifthOffersText">${data.fifthOffersText}</li>
                    </ul>
                </div>
                <div class="col-2">
                    <h3 id="location">${data.location}</h3>
                    <p id="locationText">${data.locationText}</p>
                    <dl class="contacts-list">
                        <dt id="address">${data.address}</dt>
                        <dd>+375(29)179-07-46</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        preparationMain();
    </script>
</div>