<div class="indent">
    <h2 id="customerTestimonials">${data.gallery}</h2>
    <ul class="list4">
        <img alt="" src="images/matthew.jpg" class="png" /><h6 id="firstTestimonialName">${data.firstTestimonialName}</h6>
        <div id="firstTestimonial">${data.firstTestimonial}</div>
        <img alt="" src="images/derrik.jpg" class="png" /><h6 id="secondTestimonialName">${data.secondTestimonialName}</h6>
        <div id="secondTestimonial">${data.secondTestimonial}</div>
        <img alt="" src="images/lilian.jpg" class="png" /><h6 id="thirdTestimonialName">${data.thirdTestimonialName}</h6>
        <div id="thirdTestimonial">${data.thirdTestimonial}</div>
        <img alt="" src="images/grethen.jpeg" class="png" /><h6 id="fourthTestimonialName">${data.fourthTestimonialName}</h6>
        <div id="fourthTestimonial">${data.fourthTestimonial}</div>
        <script type="text/javascript">
            preparationTestimonials();
        </script>
    </ul>
</div>