<div class="reservation">
    <dl class="list1">
        <dt name="name"></dt>
        <dd><span name="dateIn"></span>День заселения</dd>
        <dd><span name="dateOut"></span>День выселения</dd>
        <dd><span name="costPerDay"></span>Цена комнаты в день</dd>
        <dd><span name="discount"></span>Ваша скидка в процентах</dd>
        <dd><span name="floor"></span>Этаж</dd>
        <dd><span name="roomsCount"></span>Количество комнат</dd>
        <dd><span name="bedsCount"></span>Количество кроватей</dd>
        <dd><span name="additionalInfo" h></span>Доп. информация</dd>
        <a id="document" href="">Скачать бронь</a>
    </dl>
</div>